/* reset css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: gray;
}

.container {
    display: flex;
    display: flex;
     align-items: center;
    justify-content: center;
}

.box-with-circle {
    width: 300px;
    height: 300px;
    background-color: orange;
    position: relative;
    margin: 100px auto;

  
}

.box-with-triangle {
    width: 300px;
    height: 300px;
    background-color: orange;
    position: relative;
    margin: 100px auto;
  
}


.box-with-circle::before {
    display: block;
    position: absolute;
    content:"";
    background: orange;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    top: -30px;
    left: 150px;
    transform: translateX(-50%);
}

.box-with-triangle::after {
    content:"";
    background: orange;
    width: 170px;
    height: 170px;
    position: absolute;
    top: 40pxpx;
    left: 150px;
    transform: translateX(-50%) rotate(45deg);

    }





